html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    display: table;
}
img {
    max-width: 55%;
    height: auto;
}
.text {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 2vw;
}
.dark{
    background-color: #222;
    color: #e6e6e6;
}
a:link {
    color: cornflowerblue;
}
a:hover {
    color: yellow;
}
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}